# secrets (ma ytcommitaw 3mmer)
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
.npm/

# Build
frontend/dist/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# deploy
.deployed_tag

# sujet dyal test
*.pdf
